

.ReportElementContainer {
  padding: 8px;
}
#ve75821 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve75941 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve75034 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve75975 .tableColumnbi75968 {
  width: 166px;
}
#ve75645 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve75872 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}

			