#ve75941 .Table {
  display-opts : retainnewline;
  wrap-text : normal;
}
#ve75645 .Table {
  display-opts : retainnewline;
  wrap-text : normal;
}
#ve75034 .Table {
  display-opts : retainnewline;
  wrap-text : normal;
}
#ve75975 .tableColumnbi75968 {
  width : 166px;
}
#ve75821 .Table {
  display-opts : retainnewline;
  wrap-text : normal;
}
#ve75872 .Table {
  display-opts : retainnewline;
  wrap-text : normal;
}
.ReportElementContainer {
  padding : 8px;
}
