

#ve52203 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve65512 .firstColumn {
  width: 200px;
}
#ve57946 .paragraph1 {
  white-space: pre-line;
}
#ve57573 .TwoColorRamp {
  fill-gradient-start-color: #c8dbea;
  fill-gradient-end-color: #2470AD;
}
#ve68238 .Table {
  wrap-text: normal;
}
#ve57095 .CustomStyle1 {
  background-color: #91b7d6;
  color: #000000;
}
#ve52207 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve68687 .Table {
  wrap-text: normal;
}
#ve65263 .GraphDataStyleDefault {
  marker-color: #2470AD;
  text-color: #2470AD;
  fill-color: #2470AD;
  line-color: #2470AD;
}
#ve66696 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve57563 .paragraph1 {
  font-size: 13.5pt;
}
#ve67767 .TwoColorRamp {
  fill-gradient-start-color: #cce8ff;
  fill-gradient-end-color: #33A3FF;
}
#ve62786 .paragraph1 {
  font-size: 13.5pt;
}
#ve58054 .firstColumn {
  width: 200px;
}
#ve63118 .TwoColorRamp1 {
  fill-gradient-start-color: #cce8ff;
  fill-gradient-end-color: #33A3FF;
}
#ve62431 .GraphDataStyleDefault {
  fill-color: #33A3FF;
}
#ve63565 .TwoColorRamp1 {
  fill-gradient-start-color: #cce8ff;
  fill-gradient-end-color: #33A3FF;
}
#ve65508 .paragraph1 {
  font-size: 13.5pt;
}
#ve52698 .paragraph1 {
  font-size: 13.5pt;
}
#ve63561 .CustomStyle1 {
  background-color: #99d1ff;
  color: #000000;
}
#ve68971 .Table {
  wrap-text: normal;
}
#ve57567 .firstColumn {
  width: 200px;
}
#ve52704 .firstColumn {
  width: 200px;
}
#ve53098 .GraphDataStyle2 {
  fill-color: #646464;
}
#ve63108 .paragraph1 {
  font-size: 13.5pt;
}
#ve53098 .GraphDataStyle1 {
  marker-color: #2470AD;
  text-color: #2470AD;
  fill-color: #2470AD;
  line-color: #2470AD;
}
#ve62579 .CustomStyle1 {
  background-color: #91b7d6;
  color: #000000;
}
#ve58054 .CustomStyle1 {
  background-color: #91b7d6;
  color: #000000;
}
#ve52981 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve57095 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve62790 .CustomStyle1 {
  background-color: #91b7d6;
  color: #000000;
}
#ve62792 .firstColumn {
  width: 200px;
}
#ve70763 .Table {
  wrap-text: normal;
}
#ve58058 .TwoColorRamp {
  fill-gradient-start-color: #c8dbea;
  fill-gradient-end-color: #2470AD;
}
#ve62790 .firstColumn {
  width: 200px;
}
#ve58052 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve52821 .GraphDataStyleDefault {
  marker-color: #2470AD;
  text-color: #2470AD;
  fill-color: #2470AD;
  line-color: #2470AD;
}
#ve52821 .GraphDataStyle1 {
  marker-color: #2470AD;
  text-color: #2470AD;
  fill-color: #2470AD;
  line-color: #2470AD;
}
#ve52821 .GraphDataStyle2 {
  fill-color: #646464;
}
#ve67757 .paragraph1 {
  font-size: 13.5pt;
}
#ve57099 .TwoColorRamp {
  fill-gradient-start-color: #c8dbea;
  fill-gradient-end-color: #2470AD;
}
#ve64997 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve65003 .TwoColorRamp1 {
  fill-gradient-start-color: #c8dbea;
  fill-gradient-end-color: #2470AD;
}
#ve63555 .paragraph1 {
  font-size: 13.5pt;
}
#ve66774 .TwoColorRamp {
  fill-gradient-start-color: #cce8ff;
  fill-gradient-end-color: #33A3FF;
}
#ve63114 .firstColumn {
  width: 200px;
}
#ve63335 .CustomStyle1 {
  background-color: #99d1ff;
  color: #000000;
}
#ve63112 .firstColumn {
  width: 200px;
}
#ve70658 .Table {
  wrap-text: normal;
}
#ve52692 .paragraph1 {
  white-space: pre-line;
}
#ve66696 .firstColumn {
  width: 200px;
}
#ve71112 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve57573 .TwoColorRamp1 {
  fill-gradient-start-color: #c8dbea;
  fill-gradient-end-color: #2470AD;
}
#ve67761 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve57569 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve62447 .GraphDataStyleDefault {
  fill-color: #33A3FF;
}
#ve57095 .firstColumn {
  width: 200px;
}
#ve70767 .Table {
  wrap-text: normal;
}
#ve62447 .GraphDataStyle4 {
  fill-color: #CC6F2A;
}
#ve62447 .GraphDataStyle1 {
  fill-color: #33A3FF;
}
#ve65259 .CustomStyle1 {
  background-color: #91b7d6;
  color: #000000;
}
#ve62447 .GraphDataStyle2 {
  fill-color: #CCA937;
}
#ve62447 .GraphDataStyle3 {
  fill-color: #6D69FF;
}
#ve67655 .paragraph1 {
  white-space: pre-line;
}
#ve68252 .Table {
  wrap-text: normal;
}
#ve52821 .TwoColorRamp {
  fill-gradient-start-color: #c8dbea;
  fill-gradient-end-color: #2470AD;
}
#ve52985 .CustomStyle1 {
  background-color: #91b7d6;
  color: #000000;
}
#ve52985 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve63453 .paragraph1 {
  white-space: pre-line;
}
#ve63339 .TwoColorRamp1 {
  fill-gradient-start-color: #cce8ff;
  fill-gradient-end-color: #33A3FF;
}
#ve66774 .GraphDataStyleDefault {
  marker-color: #33A3FF;
  text-color: #33A3FF;
  fill-color: #33A3FF;
  line-color: #33A3FF;
}
#ve68256 .Table {
  wrap-text: normal;
}
#ve63339 .GraphDataStyle2 {
  fill-color: #929292;
}
#ve65263 .GraphDataStyle2 {
  fill-color: #646464;
}
#ve62575 .paragraph1 {
  font-size: 13.5pt;
}
#ve63339 .GraphDataStyle1 {
  marker-color: #33A3FF;
  text-color: #33A3FF;
  fill-color: #33A3FF;
  line-color: #33A3FF;
}
#ve65514 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve65263 .GraphDataStyle1 {
  marker-color: #2470AD;
  text-color: #2470AD;
  fill-color: #2470AD;
  line-color: #2470AD;
}
#ve57573 .GraphDataStyle1 {
  marker-color: #2470AD;
  text-color: #2470AD;
  fill-color: #2470AD;
  line-color: #2470AD;
}
#ve52704 .CustomStyle1 {
  background-color: #91b7d6;
  color: #000000;
}
#ve57573 .GraphDataStyle2 {
  fill-color: #646464;
}
#ve58058 .TwoColorRamp1 {
  fill-gradient-start-color: #c8dbea;
  fill-gradient-end-color: #2470AD;
}
#ve52203 .CustomStyle1 {
  background-color: #91b7d6;
  color: #000000;
}
#ve67763 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve52981 .CustomStyle1 {
  background-color: #91b7d6;
  color: #000000;
}
#ve63006 .paragraph1 {
  white-space: pre-line;
}
#ve62796 .GraphDataStyle1 {
  marker-color: #2470AD;
  text-color: #2470AD;
  fill-color: #2470AD;
  line-color: #2470AD;
}
#ve62796 .GraphDataStyle2 {
  fill-color: #646464;
}
#ve65003 .GraphDataStyleDefault {
  marker-color: #2470AD;
  text-color: #2470AD;
  fill-color: #2470AD;
  line-color: #2470AD;
}
#ve63333 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve52320 .GraphDataStyleDefault {
  marker-color: #2470AD;
  text-color: #2470AD;
  fill-color: #2470AD;
  line-color: #2470AD;
}
#ve67400 .paragraph1 {
  white-space: pre-line;
}
#ve63565 .TwoColorRamp {
  fill-gradient-start-color: #cce8ff;
  fill-gradient-end-color: #33A3FF;
}
#ve57089 .paragraph1 {
  font-size: 13.5pt;
}
#ve66692 .CustomStyle1 {
  background-color: #99d1ff;
  color: #000000;
}
#ve53098 .TwoColorRamp {
  fill-gradient-start-color: #c8dbea;
  fill-gradient-end-color: #2470AD;
}
#ve58052 .firstColumn {
  width: 200px;
}
#ve67512 .GraphDataStyle2 {
  fill-color: #929292;
}
#ve62792 .CustomStyle1 {
  background-color: #91b7d6;
  color: #000000;
}
#ve63112 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve68905 .Table {
  wrap-text: normal;
}
#ve62585 .GraphDataStyle1 {
  marker-color: #2470AD;
  text-color: #2470AD;
  fill-color: #2470AD;
  line-color: #2470AD;
}
#ve67506 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve62585 .GraphDataStyle2 {
  fill-color: #646464;
}
#ve63559 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve67512 .GraphDataStyle1 {
  marker-color: #33A3FF;
  text-color: #33A3FF;
  fill-color: #33A3FF;
  line-color: #33A3FF;
}
#ve68248 .Table {
  wrap-text: normal;
}
#ve58058 .GraphDataStyleDefault {
  marker-color: #2470AD;
  text-color: #2470AD;
  fill-color: #2470AD;
  line-color: #2470AD;
}
#ve67502 .paragraph1 {
  font-size: 13.5pt;
}
#ve62447 .ReportElementContainer {
  padding: 8px;
}
#ve58048 .paragraph1 {
  font-size: 13.5pt;
}
#ve66774 .GraphDataStyle2 {
  fill-color: #929292;
}
#ve66774 .GraphDataStyle1 {
  marker-color: #33A3FF;
  text-color: #33A3FF;
  fill-color: #33A3FF;
  line-color: #33A3FF;
}
#ve64999 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve40433 .GraphSkin {
  data-skin: FLAT;
}
#ve63335 .firstColumn {
  width: 200px;
}
#ve71108 .CustomStyle1 {
  background-color: #91b7d6;
  color: #000000;
}
#ve63227 .paragraph1 {
  white-space: pre-line;
}
#ve58054 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve52320 .TwoColorRamp {
  fill-gradient-start-color: #c8dbea;
  fill-gradient-end-color: #2470AD;
}
#ve63118 .GraphDataStyleDefault {
  marker-color: #33A3FF;
  text-color: #33A3FF;
  fill-color: #33A3FF;
  line-color: #33A3FF;
}
#ve71194 .TwoColorRamp1 {
  fill-gradient-start-color: #c8dbea;
  fill-gradient-end-color: #2470AD;
}
#ve62473 .paragraph1 {
  white-space: pre-line;
}
#ve71440 .Table {
  wrap-text: normal;
}
#ve71194 .GraphDataStyleDefault {
  marker-color: #2470AD;
  text-color: #2470AD;
  fill-color: #2470AD;
  line-color: #2470AD;
}
#ve52207 .firstColumn {
  width: 200px;
}
#ve66692 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve62581 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve66690 .paragraph1 {
  font-size: 13.5pt;
}
#ve62585 .TwoColorRamp {
  fill-gradient-start-color: #c8dbea;
  fill-gradient-end-color: #2470AD;
}
#ve52985 .firstColumn {
  width: 200px;
}
#ve64999 .firstColumn {
  width: 200px;
}
#ve65518 .GraphDataStyleDefault {
  marker-color: #2470AD;
  text-color: #2470AD;
  fill-color: #2470AD;
  line-color: #2470AD;
}
#ve55139 .GraphSkin {
  data-skin: MATTE;
}
#ve68232 .Table {
  wrap-text: normal;
}
#ve52195 .paragraph1 {
  white-space: pre-line;
}
#ve63118 .GraphDataStyle2 {
  fill-color: #929292;
}
#ve63329 .paragraph1 {
  font-size: 13.5pt;
}
#ve53098 .TwoColorRamp1 {
  fill-gradient-start-color: #c8dbea;
  fill-gradient-end-color: #2470AD;
}
#ve63118 .GraphDataStyle1 {
  marker-color: #33A3FF;
  text-color: #33A3FF;
  fill-color: #33A3FF;
  line-color: #33A3FF;
}
#ve52203 .firstColumn {
  width: 200px;
}
#ve66774 .TwoColorRamp1 {
  fill-gradient-start-color: #cce8ff;
  fill-gradient-end-color: #33A3FF;
}
#ve52979 .paragraph1 {
  font-size: 13.5pt;
}
#ve52981 .firstColumn {
  width: 200px;
}
#ve58052 .CustomStyle1 {
  background-color: #91b7d6;
  color: #000000;
}
#ve66696 .CustomStyle1 {
  background-color: #99d1ff;
  color: #000000;
}
#ve67761 .CustomStyle1 {
  background-color: #99d1ff;
  color: #000000;
}
#ve63559 .CustomStyle1 {
  background-color: #99d1ff;
  color: #000000;
}
#ve63565 .GraphDataStyle1 {
  marker-color: #33A3FF;
  text-color: #33A3FF;
  fill-color: #33A3FF;
  line-color: #33A3FF;
}
#ve63565 .GraphDataStyle2 {
  fill-color: #929292;
}
#ve71112 .firstColumn {
  width: 200px;
}
#ve65259 .firstColumn {
  width: 200px;
}
#ve52207 .CustomStyle1 {
  background-color: #91b7d6;
  color: #000000;
}
#ve65518 .GraphDataStyle1 {
  marker-color: #2470AD;
  text-color: #2470AD;
  fill-color: #2470AD;
  line-color: #2470AD;
}
#ve62581 .firstColumn {
  width: 200px;
}
#ve52700 .CustomStyle1 {
  background-color: #91b7d6;
  color: #000000;
}
#ve54855 .GraphSkin {
  data-skin: FLAT;
}
#ve62431 .GraphDataStyle4 {
  fill-color: #CC6F2A;
}
#ve62431 .GraphDataStyle3 {
  fill-color: #6D69FF;
}
#ve67763 .firstColumn {
  width: 200px;
}
#ve62431 .GraphDataStyle2 {
  fill-color: #CCA937;
}
#ve65514 .CustomStyle1 {
  background-color: #91b7d6;
  color: #000000;
}
#ve62431 .GraphDataStyle1 {
  fill-color: #33A3FF;
}
#ve71108 .firstColumn {
  width: 200px;
}
#ve64999 .CustomStyle1 {
  background-color: #91b7d6;
  color: #000000;
}
#ve64891 .paragraph1 {
  white-space: pre-line;
}
#ve65257 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve62581 .CustomStyle1 {
  background-color: #91b7d6;
  color: #000000;
}
#ve65259 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve67508 .firstColumn {
  width: 200px;
}
#ve65518 .GraphDataStyle2 {
  fill-color: #646464;
}
#ve63339 .GraphDataStyleDefault {
  marker-color: #33A3FF;
  text-color: #33A3FF;
  fill-color: #33A3FF;
  line-color: #33A3FF;
}
#ve68244 .Table {
  wrap-text: normal;
}
#ve57573 .GraphDataStyleDefault {
  marker-color: #2470AD;
  text-color: #2470AD;
  fill-color: #2470AD;
  line-color: #2470AD;
}
#ve70771 .Table {
  wrap-text: normal;
}
#ve70642 .Table {
  wrap-text: normal;
}
#ve52700 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve52700 .firstColumn {
  width: 200px;
}
#ve52704 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve52320 .TwoColorRamp1 {
  fill-gradient-start-color: #c8dbea;
  fill-gradient-end-color: #2470AD;
}
#ve71100 .paragraph1 {
  white-space: pre-line;
}
#ve63118 .TwoColorRamp {
  fill-gradient-start-color: #cce8ff;
  fill-gradient-end-color: #33A3FF;
}
#ve64993 .paragraph1 {
  font-size: 13.5pt;
}
#ve52201 .paragraph1 {
  font-size: 13.5pt;
}
#ve52821 .TwoColorRamp1 {
  fill-gradient-start-color: #c8dbea;
  fill-gradient-end-color: #2470AD;
}
#ve53098 .GraphDataStyleDefault {
  marker-color: #2470AD;
  text-color: #2470AD;
  fill-color: #2470AD;
  line-color: #2470AD;
}
#ve66692 .firstColumn {
  width: 200px;
}
#ve65518 .TwoColorRamp {
  fill-gradient-start-color: #c8dbea;
  fill-gradient-end-color: #2470AD;
}
#ve62579 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve55007 .GraphSkin {
  data-skin: MATTE;
}
#ve62585 .GraphDataStyleDefault {
  marker-color: #2470AD;
  text-color: #2470AD;
  fill-color: #2470AD;
  line-color: #2470AD;
}
#ve62796 .TwoColorRamp1 {
  fill-gradient-start-color: #c8dbea;
  fill-gradient-end-color: #2470AD;
}
#ve66681 .paragraph1 {
  white-space: pre-line;
}
#ve62796 .GraphDataStyleDefault {
  marker-color: #2470AD;
  text-color: #2470AD;
  fill-color: #2470AD;
  line-color: #2470AD;
}
#ve71106 .paragraph1 {
  font-size: 13.5pt;
}
#ve71194 .GraphDataStyle1 {
  marker-color: #2470AD;
  text-color: #2470AD;
  fill-color: #2470AD;
  line-color: #2470AD;
}
#ve57093 .firstColumn {
  width: 200px;
}
#ve57099 .GraphDataStyleDefault {
  marker-color: #2470AD;
  text-color: #2470AD;
  fill-color: #2470AD;
  line-color: #2470AD;
}
#ve71194 .GraphDataStyle2 {
  fill-color: #646464;
}
#ve67508 .CustomStyle1 {
  background-color: #99d1ff;
  color: #000000;
}
#ve68911 .Table {
  wrap-text: normal;
}
#ve62447 .GraphSkin {
  data-skin: MATTE;
}
#ve65512 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve71194 .TwoColorRamp {
  fill-gradient-start-color: #c8dbea;
  fill-gradient-end-color: #2470AD;
}
#ve69027 .Table {
  wrap-text: normal;
}
#ve65257 .firstColumn {
  width: 200px;
}
#ve67761 .firstColumn {
  width: 200px;
}
#ve65003 .GraphDataStyle2 {
  fill-color: #646464;
}
#ve67506 .CustomStyle1 {
  background-color: #99d1ff;
  color: #000000;
}
#ve65003 .GraphDataStyle1 {
  marker-color: #2470AD;
  text-color: #2470AD;
  fill-color: #2470AD;
  line-color: #2470AD;
}
#ve63114 .CustomStyle1 {
  background-color: #99d1ff;
  color: #000000;
}
#ve63335 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve52320 .GraphDataStyle2 {
  fill-color: #646464;
}
#ve52320 .GraphDataStyle1 {
  marker-color: #2470AD;
  text-color: #2470AD;
  fill-color: #2470AD;
  line-color: #2470AD;
}
#ve57569 .CustomStyle1 {
  background-color: #91b7d6;
  color: #000000;
}
#ve65514 .firstColumn {
  width: 200px;
}
#ve63561 .firstColumn {
  width: 200px;
}
#ve63339 .TwoColorRamp {
  fill-gradient-start-color: #cce8ff;
  fill-gradient-end-color: #33A3FF;
}
#ve57567 .CustomStyle1 {
  background-color: #91b7d6;
  color: #000000;
}
#ve71108 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve62579 .firstColumn {
  width: 200px;
}
#ve63565 .GraphDataStyleDefault {
  marker-color: #33A3FF;
  text-color: #33A3FF;
  fill-color: #33A3FF;
  line-color: #33A3FF;
}
#ve57099 .GraphDataStyle1 {
  marker-color: #2470AD;
  text-color: #2470AD;
  fill-color: #2470AD;
  line-color: #2470AD;
}
#ve63333 .CustomStyle1 {
  background-color: #99d1ff;
  color: #000000;
}
#ve67508 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve57099 .GraphDataStyle2 {
  fill-color: #646464;
}
#ve56987 .paragraph1 {
  white-space: pre-line;
}
#ve63114 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve57569 .firstColumn {
  width: 200px;
}
#ve65257 .CustomStyle1 {
  background-color: #91b7d6;
  color: #000000;
}
#ve62792 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve62684 .paragraph1 {
  white-space: pre-line;
}
#ve62790 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve67512 .GraphDataStyleDefault {
  marker-color: #33A3FF;
  text-color: #33A3FF;
  fill-color: #33A3FF;
  line-color: #33A3FF;
}
#ve65253 .paragraph1 {
  font-size: 13.5pt;
}
#ve67767 .GraphDataStyleDefault {
  marker-color: #33A3FF;
  text-color: #33A3FF;
  fill-color: #33A3FF;
  line-color: #33A3FF;
}
#ve57093 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve67767 .GraphDataStyle2 {
  fill-color: #929292;
}
#ve67767 .GraphDataStyle1 {
  marker-color: #33A3FF;
  text-color: #33A3FF;
  fill-color: #33A3FF;
  line-color: #33A3FF;
}
#ve57093 .CustomStyle1 {
  background-color: #91b7d6;
  color: #000000;
}
#ve62796 .TwoColorRamp {
  fill-gradient-start-color: #c8dbea;
  fill-gradient-end-color: #2470AD;
}
#ve67506 .firstColumn {
  width: 200px;
}
#ve63559 .firstColumn {
  width: 200px;
}
#ve55081 .GraphSkin {
  data-skin: MATTE;
}
#ve63333 .firstColumn {
  width: 200px;
}
#ve52970 .paragraph1 {
  white-space: pre-line;
}
#ve67512 .TwoColorRamp1 {
  fill-gradient-start-color: #cce8ff;
  fill-gradient-end-color: #33A3FF;
}
#ve58581 .GraphSkin {
  data-skin: MATTE;
}
#ve63112 .CustomStyle1 {
  background-color: #99d1ff;
  color: #000000;
}
#ve57099 .TwoColorRamp1 {
  fill-gradient-start-color: #c8dbea;
  fill-gradient-end-color: #2470AD;
}
#ve62431 .GraphSkin {
  data-skin: MATTE;
}
#ve62585 .TwoColorRamp1 {
  fill-gradient-start-color: #c8dbea;
  fill-gradient-end-color: #2470AD;
}
#ve71112 .CustomStyle1 {
  background-color: #91b7d6;
  color: #000000;
}
#ve68939 .Table {
  wrap-text: normal;
}
#ve67512 .TwoColorRamp {
  fill-gradient-start-color: #cce8ff;
  fill-gradient-end-color: #33A3FF;
}
#ve65512 .CustomStyle1 {
  background-color: #91b7d6;
  color: #000000;
}
#ve65518 .TwoColorRamp1 {
  fill-gradient-start-color: #c8dbea;
  fill-gradient-end-color: #2470AD;
}
#ve64997 .firstColumn {
  width: 200px;
}
#ve67767 .TwoColorRamp1 {
  fill-gradient-start-color: #cce8ff;
  fill-gradient-end-color: #33A3FF;
}
#ve64997 .CustomStyle1 {
  background-color: #91b7d6;
  color: #000000;
}
#ve57461 .paragraph1 {
  white-space: pre-line;
}
#ve57567 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve65003 .TwoColorRamp {
  fill-gradient-start-color: #c8dbea;
  fill-gradient-end-color: #2470AD;
}
#ve67763 .CustomStyle1 {
  background-color: #99d1ff;
  color: #000000;
}
#ve58058 .GraphDataStyle2 {
  fill-color: #646464;
}
#ve58058 .GraphDataStyle1 {
  marker-color: #2470AD;
  text-color: #2470AD;
  fill-color: #2470AD;
  line-color: #2470AD;
}
#ve65263 .TwoColorRamp1 {
  fill-gradient-start-color: #c8dbea;
  fill-gradient-end-color: #2470AD;
}
#ve63561 .Table {
  wrap-text: normal;
  padding-top: 16px;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve65406 .paragraph1 {
  white-space: pre-line;
}
#ve65263 .TwoColorRamp {
  fill-gradient-start-color: #c8dbea;
  fill-gradient-end-color: #2470AD;
}
#ve65151 .paragraph1 {
  white-space: pre-line;
}

			