

#ve2547 .KeyFrameValue {
  horizontal-alignment: left;
  vertical-alignment: top;
}
.GraphDataStyle1 {
  fill-color: #B0B7C2;
}
#ve4494 .infoBarTextBold {
  font-weight: bold;
}
#ve6533 .GraphDataStyleDefault {
  fill-color: #DD5757;
}
#ve2402 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve4148 .TwoColorRamp1 {
  fill-gradient-end-color: #DD5757;
}
#ve2678 .GraphSkin {
  data-skin: CRISP;
}
#ve4331 .GraphDataStyle1 {
  fill-color: #DD5757;
}
#ve4358 .TwoColorRamp1 {
  fill-gradient-end-color: #DD5757;
}
#ve4148 .TwoColorRamp {
  fill-gradient-end-color: #DD5757;
}
#ve4494 .infoBarTextTitle {
  font-style: italic;
}
#ve4358 .TwoColorRamp {
  fill-gradient-end-color: #DD5757;
}
#ve4494 .infoBarTextUnderline {
  text-decoration: underline;
}
#ve4148 .GraphDataStyleDefault {
  fill-color: #DD5757;
}
.GraphDataStyleDefault {
  fill-color: #B0B7C2;
}
#ve4148 .GraphDataStyle1 {
  fill-color: #DD5757;
}
#ve3201 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve2736 .TwoColorRamp {
  fill-gradient-start-color: #F9EDC6;
  fill-gradient-end-color: #CC6F2A;
}
#ve6226 .Table {
  border-style: solid;
}
#ve2604 .tableColumnbi2632 {
  fill-color: #FFFFFF;
}
#ve2381 .KeyFrameValue {
  horizontal-alignment: left;
  vertical-alignment: bottom;
}
#ve2547 .GraphDataStyle1 {
  marker-color: #16976D;
  text-color: #16976D;
  line-color: #16976D;
}
#ve4331 .GraphDataStyleDefault {
  fill-color: #DD5757;
}
#ve2736 .GraphSkin {
  data-skin: PRESSED;
}
#ve4358 .GraphDataStyle1 {
  fill-color: #DD5757;
}
#ve4331 .TwoColorRamp1 {
  fill-gradient-end-color: #DD5757;
}
#ve6336 .GraphDataStyle1 {
  fill-color: #DD5757;
}
#ve2506 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve4358 .GraphDataStyleDefault {
  fill-color: #DD5757;
}
#ve2696 .GraphSkin {
  data-skin: CRISP;
}
#ve6226 .measurebi6261 {
  fill-gradient-start-color: #F9EDC6;
  fill-gradient-end-color: #CC6F2A;
}
#ve4304 .TwoColorRamp {
  fill-gradient-end-color: #DD5757;
}
#ve2381 .GraphSkin {
  data-skin: FLAT;
}
#ve2547 .GraphDataStyleDefault {
  marker-color: #16976D;
  text-color: #16976D;
  line-color: #16976D;
}
#ve4304 .GraphDataStyle1 {
  fill-color: #DD5757;
}
#ve6226 .hierarchybi6208 {
  width: 82px;
}
#ve2547 .GraphSkin {
  data-skin: CRISP;
}
#ve4304 .TwoColorRamp1 {
  fill-gradient-end-color: #DD5757;
}
#ve4331 .TwoColorRamp {
  fill-gradient-end-color: #DD5757;
}
#ve4304 .GraphDataStyleDefault {
  fill-color: #DD5757;
}
#ve6336 .GraphDataStyleDefault {
  fill-color: #DD5757;
}
#ve6533 .GraphDataStyle1 {
  fill-color: #DD5757;
}

			