

#ve510 .GraphSkin {
  data-skin: CRISP;
}
#ve195 .Table {
  border-style: solid;
  alt-row-color: #012945;
}
#ve295 .Table {
  border-style: solid;
  alt-row-color: #012945;
}
#ve764 .HeaderFill {
  transparency: 1;
  fill-color: #3C444F;
}
#ve101 .GraphSkin {
  data-skin: CRISP;
}
#ve710 .GraphSkin {
  data-skin: CRISP;
}
#ve252 .GraphSkin {
  data-skin: CRISP;
}
.ReportElementContainer {
  padding: 8px;
}
#ve339 .GraphSkin {
  data-skin: CRISP;
}
#ve349 .HeaderFill {
  transparency: 1;
  fill-color: #3C444F;
}
#ve270 .GraphSkin {
  data-skin: CRISP;
}
#ve160 .Table {
  border-style: solid;
  alt-row-color: #012945;
}
#ve667 .HeaderFill {
  transparency: 1;
  fill-color: #3C444F;
}
#ve779 .HeaderFill {
  transparency: 1;
  fill-color: #3C444F;
}

			