

#ve2696 .GraphDataStyle1 {
  fill-color: #2C8AD6;
}
#ve4622 .GraphDataStyle3 {
  fill-color: #7358C7;
}
#ve4622 .GraphDataStyle4 {
  fill-color: #C7651C;
}
#ve4622 .GraphDataStyle5 {
  fill-color: #1F9999;
}
#ve4728 .GraphDataStyle1 {
  fill-color: #2C8AD6;
}
#ve4690 .TwoColorRamp1 {
  fill-gradient-start-color: #FF8224;
}
#ve4622 .GraphDataStyle1 {
  fill-color: #287FC7;
}
#ve4641 .GraphDataStyleDefault {
  fill-color: #287FC7;
}
#ve4622 .GraphDataStyle2 {
  fill-color: #C79F27;
}
.GraphDataStyleDefault {
  fill-color: #B0B7C2;
}
#ve4622 .GraphSkin {
  data-skin: CRISP;
}
#ve4888 .GraphDataStyleDefault {
  marker-color: #FF8224;
  text-color: #FF8224;
  line-color: #FF8224;
}
#ve4825 .GraphDataStyle1 {
  fill-color: #2C8AD6;
}
#ve3841 .GraphDataStyleDefault {
  fill-color: #287FC7;
}
#ve3591 .GraphSkin {
  data-skin: CRISP;
}
#ve2710 .GraphDataStyleDefault {
  fill-color: #2C8AD6;
}
#ve3841 .GraphDataStyle1 {
  fill-color: #287FC7;
}
#ve3841 .GraphDataStyle2 {
  fill-color: #C79F27;
}
#ve4851 .GraphDataStyle1 {
  fill-color: #2C8AD6;
}
#ve4622 .ReportElementContainer {
  padding: 8px;
}
#ve2381 .GraphDataStyle1 {
  fill-color: #33A3FF;
}
#ve2678 .GraphDataStyle1 {
  fill-color: #2C8AD6;
}
#ve2381 .GraphSkin {
  data-skin: CRISP;
}
#ve4718 .GraphSkin {
  data-skin: CRISP;
}
#ve4728 .GraphSkin {
  data-skin: CRISP;
}
#ve3841 .GraphDataStyle5 {
  fill-color: #1F9999;
}
#ve3841 .GraphDataStyle3 {
  fill-color: #7358C7;
}
#ve3841 .GraphDataStyle4 {
  fill-color: #C7651C;
}
#ve4305 .GraphDataStyle1 {
  fill-color: #287FC7;
}
#ve4305 .GraphDataStyle2 {
  fill-color: #C79F27;
}
#ve4101 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve4305 .GraphDataStyle3 {
  fill-color: #7358C7;
}
#ve4305 .GraphDataStyle4 {
  fill-color: #C7651C;
}
#ve4641 .GraphSkin {
  data-skin: CRISP;
}
#ve4305 .ReportElementContainer {
  padding: 8px;
}
#ve4514 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve4690 .TwoColorRamp {
  fill-gradient-start-color: #FF8224;
}
#ve4305 .GraphDataStyle5 {
  fill-color: #1F9999;
}
#ve4851 .GraphSkin {
  data-skin: CRISP;
}
#ve4622 .GraphDataStyleDefault {
  fill-color: #287FC7;
}
#ve2719 .GraphDataStyle1 {
  fill-color: #2C8AD6;
}
#ve2678 .GraphSkin {
  data-skin: CRISP;
}
#ve4816 .GraphSkin {
  data-skin: CRISP;
}
#ve4196 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve3591 .ReportElementContainer {
  padding: 8px;
}
#ve2393 .styleForTitle_paragraph1 {
  text-align: center;
}
#ve4739 .GraphDataStyleDefault {
  fill-color: #33A3FF;
}
#ve2678 .GraphDataStyleDefault {
  fill-color: #2C8AD6;
}
#ve4739 .GraphDataStyle1 {
  fill-color: #33A3FF;
}
#ve4816 .GraphDataStyleDefault {
  fill-color: #2C8AD6;
}
.ReportElementContainer {
  padding: 8px;
}
#ve3570 .ReportElementContainer {
  padding: 8px;
}
#ve2696 .GraphSkin {
  data-skin: CRISP;
}
#ve4614 .GraphSkin {
  data-skin: CRISP;
}
#ve2710 .GraphSkin {
  data-skin: CRISP;
}
#ve2381 .GraphDataStyleDefault {
  fill-color: #33A3FF;
}
#ve3797 .GraphDataStyle1 {
  marker-color: #FF8224;
  text-color: #FF8224;
  line-color: #FF8224;
}
#ve4728 .GraphDataStyleDefault {
  fill-color: #2C8AD6;
}
#ve4816 .GraphDataStyle1 {
  fill-color: #2C8AD6;
}
#ve4515 .styleForTitle_paragraph2 {
  text-align: center;
}
#ve4825 .GraphSkin {
  data-skin: CRISP;
}
#ve4244 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve4690 .GraphDataStyle1 {
  marker-symbol: homefilled;
  marker-color: #16976D;
  text-color: #16976D;
  fill-color: #287FC7;
  line-color: #16976D;
}
#ve2402 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve4888 .GraphSkin {
  data-skin: CRISP;
}
#ve4614 .ReportElementContainer {
  padding: 8px;
}
#ve4739 .GraphSkin {
  data-skin: CRISP;
}
#ve2604 .tableColumnbi2632 {
  fill-color: #FFFFFF;
}
#ve4825 .GraphDataStyleDefault {
  fill-color: #2C8AD6;
}
#ve4614 .GridLines {
  line-thickness: 1px;
  line-color: #F9FAFB;
}
#ve4641 .GraphDataStyle3 {
  fill-color: #7358C7;
}
#ve2547 .GraphDataStyle1 {
  marker-color: #FF8224;
  text-color: #FF8224;
  line-color: #FF8224;
}
#ve3841 .GraphSkin {
  data-skin: CRISP;
}
#ve4641 .GraphDataStyle2 {
  fill-color: #C79F27;
}
#ve2961 .TwoColorRamp {
  fill-gradient-start-color: #FF8224;
}
#ve4641 .GraphDataStyle1 {
  fill-color: #287FC7;
}
#ve3570 .GridLines {
  line-thickness: 1px;
  line-color: #F9FAFB;
}
#ve4305 .GraphDataStyleDefault {
  fill-color: #287FC7;
}
#ve4641 .GraphDataStyle5 {
  fill-color: #1F9999;
}
#ve4641 .GraphDataStyle4 {
  fill-color: #C7651C;
}
#ve3797 .GraphSkin {
  data-skin: CRISP;
}
#ve3570 .GraphSkin {
  data-skin: CRISP;
}
#ve4690 .GraphDataStyle7 {
  marker-symbol: triangledownfilled;
}
#ve4690 .GraphDataStyle6 {
  marker-symbol: starfilled;
}
#ve4690 .GraphDataStyle3 {
  marker-symbol: squarefilled;
  fill-color: #7358C7;
}
#ve4690 .GraphDataStyle2 {
  marker-symbol: circlefilled;
  fill-color: #C79F27;
}
#ve4690 .GraphDataStyle5 {
  marker-symbol: diamondfilled;
  fill-color: #1F9999;
}
#ve4630 .GraphSkin {
  data-skin: CRISP;
}
#ve4690 .GraphDataStyle4 {
  marker-symbol: trianglefilled;
  fill-color: #C7651C;
}
#ve2547 .KeyFrameValue {
  horizontal-alignment: left;
  vertical-alignment: top;
}
.GraphDataStyle1 {
  fill-color: #B0B7C2;
}
#ve3841 .ReportElementContainer {
  padding: 8px;
}
#ve4305 .GraphSkin {
  data-skin: CRISP;
}
#ve2710 .GraphDataStyle1 {
  fill-color: #2C8AD6;
}
#ve4888 .GraphDataStyle1 {
  marker-color: #FF8224;
  text-color: #FF8224;
  line-color: #FF8224;
}
#ve4690 .GraphDataStyleDefault {
  marker-symbol: homefilled;
  marker-color: #16976D;
  text-color: #16976D;
  fill-color: #287FC7;
  line-color: #16976D;
}
#ve3201 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve4630 .ReportElementContainer {
  padding: 8px;
}
#ve2719 .GraphDataStyleDefault {
  fill-color: #2C8AD6;
}
#ve4851 .GraphDataStyleDefault {
  fill-color: #2C8AD6;
}
#ve3797 .GraphDataStyleDefault {
  marker-color: #FF8224;
  text-color: #FF8224;
  line-color: #FF8224;
}
#ve2719 .GraphSkin {
  data-skin: CRISP;
}
#ve2961 .GraphDataStyle1 {
  marker-symbol: homefilled;
  marker-color: #16976D;
  text-color: #16976D;
  fill-color: #287FC7;
  line-color: #16976D;
}
#ve2961 .GraphDataStyle2 {
  marker-symbol: circlefilled;
  fill-color: #C79F27;
}
#ve4641 .ReportElementContainer {
  padding: 8px;
}
#ve2547 .GraphDataStyleDefault {
  marker-color: #FF8224;
  text-color: #FF8224;
  line-color: #FF8224;
}
#ve2961 .GraphDataStyleDefault {
  marker-symbol: homefilled;
  marker-color: #16976D;
  text-color: #16976D;
  fill-color: #287FC7;
  line-color: #16976D;
}
#ve2547 .GraphSkin {
  data-skin: CRISP;
}
#ve2961 .GraphDataStyle7 {
  marker-symbol: triangledownfilled;
}
#ve2696 .GraphDataStyleDefault {
  fill-color: #2C8AD6;
}
#ve2961 .TwoColorRamp1 {
  fill-gradient-start-color: #FF8224;
}
#ve2961 .GraphDataStyle3 {
  marker-symbol: squarefilled;
  fill-color: #7358C7;
}
#ve2366 .GraphSkin {
  data-skin: CRISP;
}
#ve2961 .GraphDataStyle4 {
  marker-symbol: trianglefilled;
  fill-color: #C7651C;
}
#ve2961 .GraphDataStyle5 {
  marker-symbol: diamondfilled;
  fill-color: #1F9999;
}
#ve2961 .GraphDataStyle6 {
  marker-symbol: starfilled;
}

			