

#ve3599 .GraphSkin {
  data-skin: CRISP;
}
#ve1982 .GraphSkin {
  data-skin: CRISP;
}
#ve1216 .GraphDataStyleDefault {
  marker-symbol: homedownfilled;
}
#ve1982 .GraphDataStyle1 {
  marker-color: #B0B7C2;
  text-color: #B0B7C2;
  fill-color: #6D69FF;
  line-color: #B0B7C2;
}
#ve1982 .GraphDataStyle3 {
  fill-color: #DD5757;
}
#ve1106 .TwoColorRamp {
  fill-gradient-start-color: #71EBBF;
  fill-gradient-end-color: #DD5757;
}
#ve1216 .GraphSkin {
  data-skin: CRISP;
}
#cd3711 .If {
}
#ve329 .GraphDataStyle1 {
  fill-color: #DD5757;
}
#ve2367 .GraphDataStyle1 {
  fill-color: #DD5757;
}
#ve2251 .GraphSkin {
  data-skin: CRISP;
}
#ve53 .GraphSkin {
  data-skin: CRISP;
}
#ve2367 .GraphDataStyle2 {
  fill-color: #FFCC32;
}
#ve789 .GraphDataStyle2 {
  fill-color: #DD5757;
}
#ve1106 .GraphDataStyleDefault {
  fill-color: #DD5757;
}
#ve2367 .TwoColorRamp {
  fill-gradient-start-color: #01182A;
  fill-gradient-end-color: #DD5757;
}
#ve1982 .GraphDataStyleDefault {
  marker-color: #B0B7C2;
  text-color: #B0B7C2;
  fill-color: #6D69FF;
  line-color: #B0B7C2;
}
#ve53 .TwoColorAltRamp1 {
  fill-gradient-start-color: #E9ECEF;
  fill-gradient-end-color: #CC6F2A;
}
#ve1106 .GraphDataStyle1 {
  fill-color: #DD5757;
}
#ve364 .GraphDataStyle7 {
  marker-symbol: triangledownfilled;
}
#ve364 .GraphDataStyle6 {
  marker-symbol: starfilled;
}
#ve364 .GraphDataStyle3 {
  marker-symbol: squarefilled;
}
#ve1216 .GraphDataStyle2 {
  marker-symbol: circlefilled;
}
#ve364 .GraphDataStyle2 {
  marker-symbol: circlefilled;
}
#ve1216 .GraphDataStyle1 {
  marker-symbol: homedownfilled;
}
#ve364 .GraphDataStyle5 {
  marker-symbol: diamondfilled;
}
#ve364 .GraphDataStyle4 {
  marker-symbol: trianglefilled;
}
#ve1216 .GraphDataStyle6 {
  marker-symbol: starfilled;
  marker-color: #B0B7C2;
  text-color: #B0B7C2;
  line-color: #B0B7C2;
}
#ve1089 .TwoColorRamp {
  fill-gradient-end-color: #FF8224;
}
#ve1216 .GraphDataStyle5 {
  marker-symbol: diamondfilled;
}
#ve364 .GraphDataStyle1 {
  marker-symbol: homefilled;
}
#ve1216 .GraphDataStyle4 {
  marker-symbol: trianglefilled;
}
#ve1216 .GraphDataStyle3 {
  marker-symbol: squarefilled;
}
#ve1089 .TwoColorRamp1 {
  fill-gradient-end-color: #FF8224;
}
#ve1216 .GraphDataStyle7 {
  marker-symbol: triangledownfilled;
  marker-color: #E9ECEF;
  text-color: #E9ECEF;
  line-color: #E9ECEF;
}
#ve1106 .TwoColorRamp1 {
  fill-gradient-start-color: #71EBBF;
  fill-gradient-end-color: #DD5757;
}
#ve3599 .GraphDataStyleDefault {
  marker-color: #FF8224;
  text-color: #FF8224;
  line-color: #FF8224;
}
#ve1089 .GraphDataStyleDefault {
  fill-color: #FF8224;
}
#ve558 .GraphSkin {
  data-skin: CRISP;
}
#ve1089 .GraphDataStyle1 {
  fill-color: #FF8224;
}
#ve4691 .GraphSkin {
  data-skin: CRISP;
}
#ve3853 .GraphSkin {
  data-skin: MATTE;
}
#ve3599 .GraphDataStyle2 {
  marker-color: #CC6F2A;
  text-color: #CC6F2A;
  line-color: #CC6F2A;
}
#ve3599 .GraphDataStyle1 {
  marker-color: #FF8224;
  text-color: #FF8224;
  line-color: #FF8224;
}
#ve4401 .GraphDataStyle2 {
  fill-color: #DD5757;
}
#ve329 .GraphDataStyleDefault {
  fill-color: #DD5757;
}
#ve3599 .GraphDataStyle5 {
  marker-color: #985B30;
  text-color: #985B30;
  line-color: #985B30;
}
#ve3853 .GraphDataStyleDefault {
  marker-color: #1C3E59;
  text-color: #1C3E59;
  line-color: #1C3E59;
}
#ve3599 .GraphDataStyle4 {
  marker-color: #FFD9BC;
  text-color: #FFD9BC;
  line-color: #FFD9BC;
}
#ve3599 .GraphDataStyle3 {
  marker-color: #FFAE70;
  text-color: #FFAE70;
  line-color: #FFAE70;
}
#ve2929 .styleForTitle_paragraph1 {
  text-align: center;
}
#ve3853 .GraphDataStyle1 {
  marker-color: #1C3E59;
  text-color: #1C3E59;
  line-color: #1C3E59;
}
#ve3853 .GraphDataStyle2 {
  marker-color: #FF8224;
  text-color: #FF8224;
  line-color: #FF8224;
}
#ve2251 .GraphDataStyleDefault {
  marker-color: #2F495B;
  text-color: #2F495B;
  line-color: #2F495B;
}
#ve2367 .GraphDataStyleDefault {
  fill-color: #DD5757;
}
#ve2929 .ReportElementContainer {
  padding: 5px;
}
#cd2218 .If {
  color: #FFFFFF;
}
#ve2006 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve2929 .GraphSkin {
  data-skin: MATTE;
}
.ReportElementContainer {
  padding: 8px;
}
#ve2251 .GraphDataStyle1 {
  marker-color: #2F495B;
  text-color: #2F495B;
  line-color: #2F495B;
}
#ve2251 .GraphDataStyle2 {
  marker-color: #FF8224;
  text-color: #FF8224;
  line-color: #FF8224;
}
#ve53 .TwoColorAltRamp {
  fill-gradient-start-color: #E9ECEF;
  fill-gradient-end-color: #CC6F2A;
}
#cd4688 .If {
}
#ve364 .GraphDataStyleDefault {
  marker-symbol: homefilled;
}
#ve53 .GraphDataStyle1 {
  fill-color: #FFCC32;
}
#ve77 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve2367 .TwoColorRamp1 {
  fill-gradient-start-color: #01182A;
  fill-gradient-end-color: #DD5757;
}
#ve2367 .TwoColorRamp2 {
  fill-gradient-start-color: #01182A;
  fill-gradient-end-color: #6D69FF;
}
#ve2929 .Pie {
  donut: false;
}
#ve53 .GraphDataStyleDefault {
  fill-color: #FFCC32;
}

			